.transition-active {
  transition: color $default-transition-duration $default-transition-function,
    background $default-transition-duration $default-transition-function,
    border-color $default-transition-duration $default-transition-function,
    opacity $default-transition-duration $default-transition-function;
}

.transition-hover {
  transition: none;
}

body {
  background-color: #000;
  font-family: 'noka', Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

[data-title] {
  font-weight: 400;
}
