{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true,
    "node": true
  },
  "extends": ["plugin:sonarjs/recommended", "@frontenso/javascript"],
  "plugins": ["sonarjs"]
}
