{% extends './_layouts/base.njk' %}

{% from './components/button/button.njk' import button %}

{% block title %}
  frōntensō-11ty-starter
{% endblock %}

{% block content %}
  <canvas class="fixed top-0 left-0 w-full h-full" data-canvas></canvas>
  <video preload loop autoplay muted class="hidden fixed" data-video>
    <source src="/running-man.mp4" type="video/mp4" />
  </video>
  <div id="smooth-wrapper">
    <div id="smooth-content">
      <div class="container">
        <h1 data-title
          class="text-white text-[32px] opacity-0 pointer-events-none"
          aria-hidden="true">
          Just Keep Running
        </h1>
        <div class="text-gray-400 text-[2vw] relative max-w-[50vw] leading-[2] pt-[100vh] ml-auto mr-auto">
          <p>
            &laquo;When I&rsquo;m criticized unjustly (from my&nbsp;viewpoint,
            at&nbsp;least), or&nbsp;when someone I&rsquo;m sure will understand
            me&nbsp;doesn&rsquo;t, I&nbsp;go running for a&nbsp;little longer
            than usual. By&nbsp;running longer it&rsquo;s like&nbsp;I can
            physically exhaust that portion of&nbsp;my&nbsp;discontent.
            It&nbsp;also makes me&nbsp;realize again how weak I&nbsp;am, how
            limited my&nbsp;abilities are. I&nbsp;become aware, physically,
            of&nbsp;these low points. And one of&nbsp;the results
            of&nbsp;running a&nbsp;little farther than usual
            is&nbsp;that&nbsp;I&nbsp;become that much stronger.
            If&nbsp;I&rsquo;m angry, I&nbsp;direct that anger toward myself.
            If&nbsp;I&nbsp;have a&nbsp;frustrating experience, I&nbsp;use that
            to&nbsp;improve myself. That&rsquo;s the way I&rsquo;ve always
            lived. I&nbsp;quietly absorb the things I&rsquo;m able&nbsp;to,
            releasing them later, and in&nbsp;as&nbsp;changed a&nbsp;form
            as&nbsp;possible, as&nbsp;part of&nbsp;the story line
            in&nbsp;a&nbsp;novel.&raquo;
          </p>
          <p>
            Excerpt From What I&nbsp;Talk About When I&nbsp;Talk About Running
            Murakami
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
