{% extends './_layouts/base.njk' %}

{% from './components/button/button.njk' import button %}

{% block title %}
  frōntensō-11ty-starter
{% endblock %}

{% block content %}
  <div id="smooth-wrapper">
    <div id="smooth-content">
      <div class="fixed top-0 left-0 w-full h-full flex items-center justify-center">
        <canvas data-canvas></canvas>
        <video preload loop autoplay muted style="display: none;" data-video>
          <source src="/running-man.mp4" type="video/mp4" />
        </video>
        <h1 data-title class="absolute text-white text-[24px] opacity-0">
          Just Keep Running
        </h1>
        <div class="box bg-red-500 w-[300px] h-[300px"></div>
      </div>
      <div class="container">
        <div class="text-gray-300 relative max-w-[300px]">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Consectetur deserunt, dolorem ipsum iure libero maxime! Adipisci
            deleniti dicta dignissimos distinctio dolore dolorum eius
            exercitationem fuga fugiat, incidunt ipsa laboriosam magnam maiores
            modi, nemo non nulla numquam placeat porro, quas qui tempora velit
            voluptatibus? Accusamus ad, aliquam aliquid aperiam aut,
            consequuntur corporis cumque cupiditate eligendi exercitationem
            facilis incidunt laudantium minima modi molestiae molestias nobis
            odit quae quia quis quisquam, ratione sequi ullam ut vel voluptas
            voluptate. Accusantium alias aspernatur, assumenda beatae deserunt
            dolores doloribus ducimus ea earum eum incidunt ipsa iusto nihil
            nobis nulla perspiciatis porro quaerat quasi quod repellat
            voluptates.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Consectetur deserunt, dolorem ipsum iure libero maxime! Adipisci
            deleniti dicta dignissimos distinctio dolore dolorum eius
            exercitationem fuga fugiat, incidunt ipsa laboriosam magnam maiores
            modi, nemo non nulla numquam placeat porro, quas qui tempora velit
            voluptatibus? Accusamus ad, aliquam aliquid aperiam aut,
            consequuntur corporis cumque cupiditate eligendi exercitationem
            facilis incidunt laudantium minima modi molestiae molestias nobis
            odit quae quia quis quisquam, ratione sequi ullam ut vel voluptas
            voluptate. Accusantium alias aspernatur, assumenda beatae deserunt
            dolores doloribus ducimus ea earum eum incidunt ipsa iusto nihil
            nobis nulla perspiciatis porro quaerat quasi quod repellat
            voluptates.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Consectetur deserunt, dolorem ipsum iure libero maxime! Adipisci
            deleniti dicta dignissimos distinctio dolore dolorum eius
            exercitationem fuga fugiat, incidunt ipsa laboriosam magnam maiores
            modi, nemo non nulla numquam placeat porro, quas qui tempora velit
            voluptatibus? Accusamus ad, aliquam aliquid aperiam aut,
            consequuntur corporis cumque cupiditate eligendi exercitationem
            facilis incidunt laudantium minima modi molestiae molestias nobis
            odit quae quia quis quisquam, ratione sequi ullam ut vel voluptas
            voluptate. Accusantium alias aspernatur, assumenda beatae deserunt
            dolores doloribus ducimus ea earum eum incidunt ipsa iusto nihil
            nobis nulla perspiciatis porro quaerat quasi quod repellat
            voluptates.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Consectetur deserunt, dolorem ipsum iure libero maxime! Adipisci
            deleniti dicta dignissimos distinctio dolore dolorum eius
            exercitationem fuga fugiat, incidunt ipsa laboriosam magnam maiores
            modi, nemo non nulla numquam placeat porro, quas qui tempora velit
            voluptatibus? Accusamus ad, aliquam aliquid aperiam aut,
            consequuntur corporis cumque cupiditate eligendi exercitationem
            facilis incidunt laudantium minima modi molestiae molestias nobis
            odit quae quia quis quisquam, ratione sequi ullam ut vel voluptas
            voluptate. Accusantium alias aspernatur, assumenda beatae deserunt
            dolores doloribus ducimus ea earum eum incidunt ipsa iusto nihil
            nobis nulla perspiciatis porro quaerat quasi quod repellat
            voluptates.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Consectetur deserunt, dolorem ipsum iure libero maxime! Adipisci
            deleniti dicta dignissimos distinctio dolore dolorum eius
            exercitationem fuga fugiat, incidunt ipsa laboriosam magnam maiores
            modi, nemo non nulla numquam placeat porro, quas qui tempora velit
            voluptatibus? Accusamus ad, aliquam aliquid aperiam aut,
            consequuntur corporis cumque cupiditate eligendi exercitationem
            facilis incidunt laudantium minima modi molestiae molestias nobis
            odit quae quia quis quisquam, ratione sequi ullam ut vel voluptas
            voluptate. Accusantium alias aspernatur, assumenda beatae deserunt
            dolores doloribus ducimus ea earum eum incidunt ipsa iusto nihil
            nobis nulla perspiciatis porro quaerat quasi quod repellat
            voluptates.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
