{% extends './_layouts/base.njk' %}

{% from './components/button/button.njk' import button %}

{% block title %}
  frōntensō-11ty-starter
{% endblock %}

{% block content %}
  <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
    <canvas data-canvas></canvas>
    <video preload loop autoplay muted style="display: none;" data-video>
      <source src="/video-example.mp4" type="video/mp4" />
    </video>
  </div>
{% endblock %}
